node_modules
dist
.DS_Store
.idea
.vscode
*.log
.ios-tmp
ios/App/Pods
ios/App/build
android/.gradle
android/app/build
android/build
android/captures
android/local.properties
*.keystore
*.jks
.env
.env.*
